.about {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
} 