// PAGE === BACKGROUND
.page {
    background-color:#fff;
}
// CONTAINER === BODY
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
}

.content {
    flex-grow: 1;
    background-color: white;
    border: 1px solid #4F5D75;
    // MATCHES WITH THE HEIGHT OF THE HEADER IN INDEX.JS
    min-height: 70vh;
    width: 100%;
}

@media only screen and (min-width: 961px) {
    .container {
        background-color: white;
        max-width: 100%;
  }
}