// // IMPORT TYPOGRAPHY AND SET FONT-STYLE ACCORDING TO NAMING CONVENTION IN TYPOGRAPHY.CSS
@import "../styles/typography.css";

// PAGE === BACKGROUND
.page {
    background-color:#fff;
}
// MAIN-CONTAINER === BODY
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    clear: both;
    min-height: 100vh;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 100;
    // flex-grow: 1;
    background-color: white;
    // border: 2px solid red;
    width: 100%;
    min-height: 100vh;
    // FOR NAV
    z-index: 1;
}

@media only screen and (min-width: 961px) {
    .container {
        background-color: white;
        max-width: 100%;
  }
}